version: '3.7'

services:
    proxy:
        image: nginx:alpine
        container_name: proxy
        ports:
            - '80:80'
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf
        restart: 'unless-stopped'
        networks:
            - backend
    server:
        build:
            context: ./
            target: development-build-stage
            dockerfile: Dockerfile
        container_name: server
        ports:
            - '3000:3000'
        volumes:
            - ./:/app
            - /app/node_modules
        restart: 'unless-stopped'
        networks:
            - backend
        links:
            - db
        depends_on:
            - db

    db:
        image: postgres:14.1-alpine
        restart: always
        environment:
            - POSTGRES_USER=root
            - POSTGRES_PASSWORD=password
        ports:
            - '5432:5432'
        volumes:
            - db:/var/lib/postgresql/data
        networks:
            - backend

networks:
    backend:
        driver: bridge

volumes:
    db:
        driver: local
